#wrapper {
    .breadcrumb-container {
        background-color: #f3f3f3;
        h1, h2, h3 {
            color: #3c3c3c;
        }
        ol.breadcrumb span {
            color:black;
        }
    }
    footer {
        a {
            &:hover {
                color: #eee;
            }
        }
        .footer-main {
            background:$brand-primary !important;
             ul.list-group
                {
                    li:hover a {
                        color: #eee;
                    }

                }
        }
        .footer-bottom {
            a {
                color: #fff;
                &:hover {
                    color: #eee;
                }
            }
        }
        a.email {
            font-weight: 900;
        }
    }
    #jumbotron {
        &:before {
            opacity: .7;
            height: 100%;
        }
        &.background-image {
            background-repeat: repeat !important;
            background-size: auto !important;
        }
    }
    h3.panel-title.text-center {
        color: white;
    }
}
body {
    background-color: #1c1c1c;
}
