#wrapper {
  a {
    color: #ffa409;
    &:hover {
      color: #ffa409;
      text-decoration: underline;
    }
  }
  .morello-content {
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-weight: bolder;
    }
  }
  .dev_section {
    .icon {
      height: 80px;
    }
    h3 {
      font-weight: bolder;
    }
  }

  .morello {
    &:after {
      position: absolute;
      content: "";
      height: 100%;
      z-index: -1;
      width: 100%;
      top: 0;
      left: 0;
      @include gradient-y-three-colors(
        $start-color: rgba(255, 255, 255, 0.2),
        $mid-color: rgba(255, 255, 255, 1),
        $end-color: rgba(255, 255, 255, 1),
        $color-stop: 60%
      );
    }
    img.card-img-top {
      border: 5px solid white;
      height: 250px;
    }
    p {
      color: #000 !important;
    }
    .header_background_image {
      left: 0px;
      filter: none;
    }
    h1 {
      @include media-breakpoint-up(lg) {
        font-size: 2.5rem;
        font-weight: 300;
        line-height: 1.2;
      }
    }
  }

  .expandable_jumbotron {
    height: auto !important;
  }
  .inner_content_wrapper {
    z-index: 1 !important;
    position: relative;
  }

  #main-navigation {
    .navbar-brand {
      img {
        height: 50px;
        width: auto;
      }
    }
  }
}
body {
  background-color: $primary;
}
